$md-primary: (
  50 : #e5e9f1,
  100 : #bec7dc,
  200 : #93a2c5,
  300 : #677dae,
  400 : #47619c,
  500 : #26458b,
  600 : #223e83,
  700 : #1c3678,
  800 : #172e6e,
  900 : #0d1f5b,
  A100 : #90a5ff,
  A200 : #5d7bff,
  A400 : #2a52ff,
  A700 : #113dff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$md-secondary: (
  50 : #fffee7,
  100 : #fffdc4,
  200 : #fffb9d,
  300 : #fff975,
  400 : #fff858,
  500 : #fff73a,
  600 : #fff634,
  700 : #fff52c,
  800 : #fff325,
  900 : #fff118,
  A100 : #ffffff,
  A200 : #fffffd,
  A400 : #fffcca,
  A700 : #fffab1,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

