// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import 'assets/custom-palettes';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Eventum-primary: mat-palette($md-primary);
$Eventum-accent: mat-palette($mat-green);

// The warn palette is optional (defaults to red).
$Eventum-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$Eventum-theme: mat-light-theme($Eventum-primary, $Eventum-accent, $Eventum-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Eventum-theme);

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
@import "reset";


body {
  margin: 0;
}
.demo-full-width {
  width: 100%;
}
.margin-top {
  margin-top: 15px;
}
.margin-left {
  margin-left: 10px;
}
.radio-label-padding {
  padding-right: 10px;
  color: grey;
}

.bg-primary-light {
  background-color: mat-color($Eventum-primary, 50);
}

mat-radio-button {
  margin: 2.5px !important;
}
